[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=Cytoscape
Icon=Cytoscape
StartupNotify=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Cytoscape
Comment=Cytoscape Desktop
